html{
  box-sizing: border-box;
}

*,*::before,*::after{
  box-sizing: inherit;
}

h1{
  font-size: 48px;
}
h2{
  font-size: 40px;
}
h3{
  font-size: 28px;
}
h4{
  font-size: 24px;
}
.clear,.clear::after{
  content: '';
  clear: both;
  display: block;
}
.container{
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

/* Header styling */
header .site-header{
  padding-bottom: 30px;
}
div .logo{
  text-align: left;
}
.main-menu .navigation .site-nav ul{
  list-style: none;
  margin: 0;
}
.main-menu .navigation .site-nav ul li{
  margin: 0 0 0 0;
  display: inline-block;
  height: auto;
  vertical-align: middle;
  font-size: 14px;
}
.main-menu .navigation .site-nav ul li a{
  text-align: center;
  padding: 20px 0;
  display: block;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

/* Footer */
footer{
  margin-top: 30px;
  padding: 30px 0;
  border-top: 1px solid #c1c1c1;
  background-color: #151515;
  color: #c1c1c1;
}
footer nav ul{
  list-style: none;
}
footer nav ul li  a{
  color: #c1c1c1;
}
footer nav .sr-text{
  display: none;
}
footer .socials ul{
  text-align: center;
  padding: 0;
}
footer .socials ul li a::before{
  font-family: 'FontAwesome';
  display: inline-block;
  vertical-align: top;
  padding: 0 5px;
  content: '\f08e';
  font-size: 30px;
  -webkit-font-smoothing: antialiased;
}
footer .socials li a[href*="facebook.com"]::before{
  content: '\f09a';
}
footer .socials li a[href*="twitter.com"]::before{
  content: '\f099';
}
footer .socials li a[href*="linkedin.com"]::before{
  content: '\f0e1';
}
footer .socials li a[href*="youtube.com"]::before{
  content: '\f16a';
}
footer .socials li a[href*="instagram.com"]::before{
  content: '\f16d';
}

/* Contact Us */
.contact-us-text {
	color: #fff;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
.contact-us-text h2 {
	font-size: 48px;
}
.contact-us{
	background-size: cover;
	background-repeat: no-repeat;
	height: 230px;
	position: relative;
}
.contact-info{
  	position: relative;
	background: #f4f4f4;
}
.contact-info .container {
	position: relative;
    top: -50px;
    background: #fff;
}
.contact-info .contact-form .field {
	margin: 10px 0;
}
.contact-info .contact-form .field input,
.contact-info .contact-form .field textarea{
    width: 100%;
    border: 1px solid #d3d3d3;
    padding: 12px 10px;
    border-radius: 4px;
    box-shadow: none;
    outline: 0;
    margin: 0;
}
.contact-info .contact-form .field textarea{
  height: 200px;
}
.button{
  background-color: #000000;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  width: auto;
  border-radius: 8px;
  color: #fff;
  padding: 10px 70px;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 250px;
}
