/**  mixins  **/

.borderRadius(@radius){
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}
.transition(@transition) {
	transition:	@transition;
	-webkit-transition: @transition;  
	-moz-transition: @transition;
	-ms-transition: @transition; 
	-o-transition: @transition;  
}
.transform(@transform) {
	-webkit-transform: @transform;
	-moz-transform: @transform;
	-ms-transform: @transform;
	-o-transform: @transform;
	transform: @transform;
}
.placeholder(@color,@font,@font-size){
	font-family: @font;
	font-size: @font-size;
	color: @color;
	letter-spacing: 0;
	line-height: 22px;   
}
.boxShadow(@value) {
	-webkit-box-shadow: @value;
	-moz-box-shadow: @value;
	box-shadow: @value;
}
.boxShadowWithTwoParams(@value1,@value2) {
	-webkit-box-shadow: @value1,@value2;
	-moz-box-shadow: @value1,@value2;
	box-shadow: @value1,@value2;
}


/**  color variables  **/

@custom-global-black: #000;
@custom-global-white: #fff;



/**  custom theme  **/

body {
	font-family: 'Archivo Narrow', sans-serif !important;
	position: relative;
	padding-top: 80px;
	letter-spacing: 1px;
	@media only screen and (max-width: 767px) {
		padding-top: 75px;
	}
}
ul {
	margin: 0;
	padding: 0;
	li {
		list-style: none;
	}
}
a, a:hover, a:focus {
	text-decoration: none !important;
	outline: 0;
}
a {
	display: inline-block;
	&:after {
		content: '';
		display: block;
		width: 0;
		height: 2px;
		background: @custom-global-black;
		.transition(width .5s);
	}
	&:hover::after {
		width: 100%;
	}
}

/*  overriding default styles  */
.site-header {
	position: fixed;
	width: 100%;
	z-index: 9999;
	background: @custom-global-white;
	top: 0;
	.main-header {
		padding: 18px 0;
		.site-nav{
			background-color: #ffffff;
			border: none;
			.logo {
				display: inline-block;
			}
			ul li{
				margin: 10px 0 10px 20px;
				&:hover{
					a{
						color: black;
					}
				}
				a {
					padding: 0;
					font-size: 16px;
					color: black;
					text-transform: uppercase;
				}
			}
			.navbar-collapse{
				border: none;
			}
			.navbar-header{
				.navbar-toggle{
					border: none;
					&:hover{
						background-color: white;
						border: none;
					}
					.icon-bar{
						background-color: black;
					}
					@media only screen and (max-width: 767px){
						margin-top: 2px;
						margin-bottom: 0;
						margin-right: 0;
					}
				}
				@media only screen and (max-width: 767px){
					margin-right: 0;
					margin-left: 0;
				}
			}
		}
		.nav-menu{
			@media only screen and (min-width: 768px) {
				float: right;
			}
		}
	}
	@media only screen and (min-width: 768px) {
		height: 80px;
	}
	@media only screen and (max-width: 767px) {
		height: 75px;
	}
}
.hero{
	background-size: cover;
	background-repeat: no-repeat;
	@media only screen and (min-width: 768px) {
		min-height: 600px;
	}
	@media only screen and (max-width: 767px) {
		min-height: 351px;
	}
}
.socials {
	position: fixed;
	right: 0;
	top: 50%;
	z-index: 9999;
	.transform(translateY(-50%));
	ul.menu {
		li {
			padding: 0px 5px;
			background-color: rgb(0, 0, 0);
			margin-bottom: 5px;
			transition: all .2s ease-in-out;
			&:hover{
				transform: scale(1.2);
			}
			a {
				display: block;
				color: white;
				&:before {
					padding: 0;
				}
			}
		}
	}
}
.custom-style {
	.rt-img-holder a:after, .logo a:after {
		background: none;
	}
	.work-content-wrapper {
		.rt-tpg-isotope {
			margin: 0 -15px;
		}	
	}
	.rt-tpg-container {
		.isotope1 .rt-holder {
			padding: 0;
			.rt-img-holder {
				/*height: 170px;*/
				max-height: 200px;
				a {
					width: 100%;
				}
				img {
					.transition(all .5s ease);
					height: 100%;
					width: 100%;
				}
				&:hover {
					img {
						.transform(scale(1.3));
					}
				}
			}
			.rt-detail {
				padding: 10px 15px 15px 15px;
				background: #f4f4f4;
				h2, h3, h4 {
					margin-bottom: 0;
					font-size: 21px;
				}
			}
		}
		.isotope-item {
			@media only screen and (min-width: 475px) and (max-width: 767px) {
				width: 50%;
			}
		}
		.rt-equal-height {
			margin-bottom: 30px;
		}
	}
	.rt-tpg-container .rt-tpg-isotope-buttons .selected {
		color: #fff !important;
	}
	.post-meta-user span, .post-meta-tags span {
		display: block;
	}
}
footer{
	@media only screen and (max-width: 767px) {
		padding: 15px 0 !important;
	}
	.footer-menu{
		padding: 0 10px 15px;
		margin-bottom: 15px;
		@media only screen and (max-width: 767px) {
			border-bottom: 1px solid white;
		}
		@media only screen and (min-width: 768px) {
			border-right: 1px solid rgb(255, 255, 255);
		}
		ul li a{
			padding: 4px 0;
			&:hover{
				color: white !important;
			}
			&:after{
				background-color: white !important;
			}
		}
	}
	.copyright{
		text-align: center;
		margin: 0;
	}
}
.about-content-wrapper {
	background: #f4f4f4;
	padding: 30px 0;
	.about-title {
		margin: 0 0 10px 0;
		font-size: 32px;
	}
	p {
		font-size: 18px;
		letter-spacing: 0.5px;
	}
	@media only screen and (max-width: 767px) {
		padding: 20px 0;
	}
}
.work-content-wrapper {
	background: url(http://localhost/touchthewood/wp-content/uploads/2018/07/create-your-ikea-inspired-dream-desk-to-keep-inspiration-flowing.jpg) no-repeat;
	background-size: cover;
	padding: 30px 0;
	.work-title {
		margin: 0;
		font-size: 32px;
	}
	@media only screen and (max-width: 767px) {
		padding: 20px 0;
	}
}
/*.sa_hover_container {
	height: calc(~'100vh - 80px') !important;
}*/